:host {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 130px;
  position: relative;
}

mat-list {
  flex: 1;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

mat-spinner {
  flex-shrink: 0;
}

.retry-all {
  position: absolute;
  top: -25px;
}
