<button
  *ngIf="atLeastOneTodoInError$ | async"
  mat-icon-button
  matTooltip="Retry all"
  class="retry-all"
  (click)="retryAll()"
>
  <mat-icon color="warn">warning</mat-icon>
</button>
<mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
<div
  *ngIf="isError$ | async"
  class="error"
>
  <p>Something went wrong</p>
  <button
    mat-raised-button
    color="primary"
    (click)="loadTodoList()"
  >Retry</button>
</div>
<mat-list>
  <app-todo-list-todo
    *ngFor="let todoId of (todoIds$ | async)"
    [todoId]="todoId"
  ></app-todo-list-todo>
</mat-list>
