<button
  *ngIf="atLeastOneTodoInError$ | async"
  mat-icon-button
  matTooltip="Retry all"
  class="retry-all"
  (click)="retryAll()"
>
  <mat-icon color="warn">warning</mat-icon>
</button>
<mat-spinner *ngIf="isLoading$ | async; else todoList"></mat-spinner>
<ng-template #todoList>
  <app-generic-error
    *ngIf="isError$ | async"
    (retry)="loadTodoListIfNeeded()"
  ></app-generic-error>
  <mat-list *ngIf="!(isError$ | async)">
    <app-todo-list-todo
      *ngFor="let todoId of (todoIds$ | async)"
      [todoId]="todoId"
    ></app-todo-list-todo>
  </mat-list>
</ng-template>
