@import "src/theme";

:host {
  padding: 0px 16px;
  min-height: 130px;
  margin-top: 8px;
}

.loading {
  display: flex;
  justify-content: center;
}

.error {
  display: flex;
  color: mat-color($wonderful-todo-list-warn);
}

.title {
  display: flex;
  align-items: center;

  h2 {
    flex: 1;
    margin-bottom: 8px;
    margin-top: 8px;
  }
}
