<mat-list-item *ngIf="todo$ | async as todo">
  <div
    *ngIf="isLoading$ | async"
    class="loading"
    mat-list-icon
  >
    <mat-spinner [diameter]="20"></mat-spinner>
  </div>
  <mat-checkbox
    *ngIf="(isLoading$ | async) === false"
    [formControl]="todoControl"
    mat-list-icon
  ></mat-checkbox>
  <h4
    matLine
    [ngClass]="{completed: isCompleted(todo)}"
  >{{ todo.title }}</h4>
  <button
    mat-icon-button
    (click)="goToTodo(todo)"
    color="accent"
  >
    <mat-icon>search</mat-icon>
  </button>
  <button
    *ngIf="todoError$ | async"
    mat-icon-button
    matTooltip="Retry"
    (click)="retry()"
    color="warn"
  >
    <mat-icon>warning</mat-icon>
  </button>
</mat-list-item>
